@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0d1117;
    color: #c9d1d9;
  }
}

.notepad-lines {
  background-image: linear-gradient(
    rgba(255, 215, 141, 0.4) 1px,
    transparent 1px
  );
  background-size: 100% 32px;
  line-height: 32px;
}


